body {

    h1, h2, h3, p{
        margin: 0;
        text-align: center;}


    h1, h2, h3, p{
    	font-family: $font-headline;  /** PROXIMA SOFT **/
    	font-style: normal;
    	font-weight: 400;
    	letter-spacing:.1em;
 	    color: #fff;}

    h1{ font-size: $size-headline;
        color: $silver;}

    h2{ font-size: $size-subhead;
        color: #555;
        text-transform: uppercase;
        margin: 50px auto;}

    h3{ font-size: $size-subhead;
        margin: 40px auto 80px;
        color: $silver}

    p{  font-size: $size-text;
        color: $silver;
        padding: 10px 20px;}

    .popup p{
        color: #fff;}

}
