/*
Colors
------
Red:        #DB152C
Dark Gray:  #2B2828
Blue:       #16BECF
White:      #FFFFFF
Light Gray: #D5DBD8
*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after { box-sizing: inherit; }



div {
  width: 500px;
  height: 500px;
  font-size: 14px;
  background-color: red;
  color: black;
  transition: background-color 2s;
}

.jsDivClass {
background-color: green;
color: red;
}
