
html {
  height: 100%;
  /* border box start --------------------- */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* border box end ---------------------*/
}

body {
  /* height expands to fill viewport */
  height: 100%;
  font-size: normal;
}

.page {
  /* to center using margin: 0 auto; you must specify a width */
  width: 100%;
  margin: 0 auto;
  /* height expands to fill viewport */
  height: 100%;
}
