/*
c90342
TEMPLATE START
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

* {
margin: 0;
padding: 0;
}
TEMPLATE END
*/

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
* {
margin: 0;
padding: 0;
}


header {
width: 675px;
height: 130px;
background-color: #c90342;
text-align: center;
padding: 5px 0px 5px 0px;
color: #ffffff;
}

.two-for-1-text {
  font-size: 375%;
}

.cool-down-text{
  font-size: 225%;
}

.coffee-image {
  width: 675px;
  height: 280px;
  background-image: url(../images/coupon-cropped.jpg);
  background-size: cover;
}

.aside-text{
  position: absolute;
  left: 415px;
  top: 190px;
  width: 220px;
  height: 200px;
  color: #ffffff;
}
.just-print-text {
  margin-bottom: 10px;
  font-family: sans-serif;
}
.through-april-text{
  line-height: 140%;
  font-family: sans-serif;
  font-size: 14px;
}

.spread-the-word-button{
  color: #560000;
  margin-top: 15px;
  padding-top: 7px;
  background-color: #f5bfba;
  width: 200px;
  height: 60px;
  border-radius: 15px;
  text-align: center;
  font-size: 15pt;
  font-weight: bold;
}

.arrow{
  position: absolute;
  left: 155px;
  top: 155px;
}
