<!-- Simplest web page template 01-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <title>Simplest web page template 01</title>
    <!-- Link fonts before css -->
  </head>

  <body>
    <header>
      <h1>Hello World!</h1>
    </header>
    <footer>
      <h1>Hello World!</h1>
    </footer>
      <h1>Footer</h1>
    </footer>
    <!-- Load jquery before javascript -->
    <!-- <script src="jquery-3.2.1.js"></script> -->
    <script src="js/script.js"></script>
    <!-- Load plug ins after javascript -->
  </body>

</html>
