<!-- Grid Template: responsive -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--meta viewport tag-->
    <title>Sandra Marble</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  </head>

  <body>


    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
</ul>

<div class="info">Resize this panel to see grids respond</div>


  </body>
</html>
