div {
  transition: all 1s ease;
  margin: 300px;
  height: 700px;
  width: 700px;
}

.colorRed {
  color: purple;
  background-color: red;
}

.colorPurpleYellow {
    color: red;
    background: purple;
}

p{
  padding: 25%;
  font-size: 300%;
  text-align: center
}
