
body {
  font-family: arial, sans-serif;
  font-weight: normal;
  align-items: center;
}

h1 {
  font-family: helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  color: purple;
}

.change {
  color: magenta;
}

#btn {
  border: 1px black;
  width: 200px;
  height: 50px;
  background: purple;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

div{
    text-align:center;
}
