/*
Portfolio mainAboutContact.css
350px smallest phone
700px smallest tablet
1000px smallest desktop
select multiple classes: ,
*/

html {
  font-family: Helvetica, arial, sans-serif;
  font-size: normal;
  /* border box start --------------------- */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* border box end ---------------------*/
}

body {
  /* to center body you must specify width */
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.header {
  /* Header fixed to top
  position: fixed; */
  margin: 6% 4% 6% 4%;
}

.name {
  display: block;
  font-weight: lighter;
  text-align: center;
  font-size: 6vw;
}

.menu {
  padding: 0;
  text-align: center;
}

.menuItems {
  display: inline-block;
  margin: 0% 2% 0% 2%;
  text-transform: uppercase;
  font-size: .7em;
  color: #535050;
  letter-spacing: 1px;
}

.menuBars {
text-transform: none;
}

img {
  width: 100%;
}

a:link {
  text-decoration: none;
}

.pic {
  /* background-image: url("images/donutSelfie.jpg"); */
  display: inline-block;
  width: 35%;
  margin-bottom: 10%;
}

.bio {
  display: inline-block;
  width: 55%;
  padding: 5%;
  vertical-align: top;
  font-weight: lighter;
}

.bioText {
  font-size: 2.0vw;
}


/* START CONTACT INFO --------------------- */
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #595b5e;
}

/* Style the container/contact section */
.container {
  width: 90%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


/* END CONTACT INFO------------------------ */










@media screen and (max-width: 699px) {

}


@media screen and (min-width: 700px) {

  .name {
    display: inline;
    text-align: none;
    font-size: 3vw;
  }

  .menu {
    display: inline;
    margin: 2% 2% 2% 10%;
  }

}

@media screen and (max-width: 1999px) {

 }

@media screen and (min-width: 1000px) {

}
