/*
Colors
------
Red:        #DB152C
Dark Gray:  #2B2828
Blue:       #16BECF
White:      #FFFFFF
Light Gray: #D5DBD8
*/

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after { box-sizing: inherit; }



div {
  font-size: 14px;
  background-color: red;
  color: #D5DBD8;
}

.divClass {
background-color: green;
color: red;
}
